.align-items-center {
  -ms-flex-align: center !important;
  align-items: center !important;
}
.d-flex {
  display: -ms-flexbox !important;
  display: flex !important;
}

.align-middle {
  display: flex !important;
  height: 100vh !important;
  justify-content: center !important;
  align-items: center !important;
}

.authBlock,
.authBlock .mat-form-field {
  width: 80vw;
  transition: all 0.2s;
}

input {
  background-color: transparent !important;
}

.custom-loading {
  margin-right: 1rem;
  padding: 0;
  top: -1.8rem;
}
/* .custom-loading .mat-progress-spinner circle,
.mat-spinner circle {
  stroke: #3fb53f;
} */

:host ::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
  stroke: #ffffff !important;
}
