<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h1 class="h2">Add New Class Record</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group">
      <!-- goBack() methos to back to previous component -->
      <button class="btn btn-sm btn-outline-secondary" (click)="goBack()">
        Go Back
      </button>
    </div>
  </div>
</div>

<!-- Student form -->
<form
  [formGroup]="newClassroomsForm"
  (ngSubmit)="submitClassroomData()"
  novalidate
>
  <div class="row">
    <div class="col-lg-5 col-md-12 col-sm-12">
      <div class="row">
        <div class="col-md-12 mb-3">
          <label>Select Class</label>
          <select
            (change)="changeClass($event)"
            formControlName="className"
            class="custom-select"
            required
          >
            <option value="" disabled><span>Choose a class</span> </option>
            <!-- <option value="" disabled *ngIf="classroom.$key.length <= 0">No class available</option> -->
            <option
              *ngFor="let classroom of Classroom"
              [value]="classroom.$key"
            >
              {{ classroom.$key }}</option
            >
          </select>
        </div>

        <div class="col-md-12 mb-3">
          <label>Student ID</label>
          <input
            type="text"
            formControlName="index"
            class="form-control"
            placeholder="enter index number"
            required
          />
          <!-- Showing errors using getter method -->
          <p *ngIf="index.touched && index.invalid" class="error">
            <sup>*</sup>Please enter index number
          </p>
          <p *ngIf="index.errors?.minlength" class="error">
            <sup>*</sup>ID shouldn't be less than 12 words
          </p>
        </div>

        <div class="col-md-12 mb-3">
          <label>Student name</label>
          <input
            type="text"
            pattern="[a-zA-Z ]+"
            ng-pattern-restrict
            formControlName="studentName"
            class="form-control"
            placeholder="enter name"
          />
          <p *ngIf="studentName.touched && studentName.invalid" class="error">
            <sup>*</sup>Please enter correct name spellings
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 mb-3">
          <label>Time (released key)</label>
          <input
            [owlDateTime]="dt1"
            [owlDateTimeTrigger]="dt1"
            formControlName="startDate"
            placeholder="pick a date"
            class="form-control"
          />
          <owl-date-time #dt1></owl-date-time>
          <!-- Showing errors using getter method -->
          <!-- <p *ngIf="programme.touched && firstName.invalid" class="error"><sup>*</sup>Please enter atleast a programme</p>
            <p *ngIf="programme.errors?.minlength" class="error"><sup>*</sup>Programme shouldn't be less than 2 words</p> -->
        </div>

        <div class="col-md-12 mb-3">
          <label>Time (returned key)</label>
          <input
            formControlName="endDate"
            placeholder="pick a date"
            class="form-control"
            disabled
          />
          <owl-date-time #dt2></owl-date-time>
          <!-- Showing errors using getter method -->
          <!-- <p *ngIf="programme.touched && firstName.invalid" class="error"><sup>*</sup>Please enter atleast a programme</p>
            <p *ngIf="programme.errors?.minlength" class="error"><sup>*</sup>Programme shouldn't be less than 2 words</p> -->
        </div>
      </div>

      <div class="form-group text-right">
        <button
          type="button"
          class="btn btn-danger gap-right"
          (click)="ResetForm()"
        >
          Reset
        </button>
        <button
          type="submit"
          class="btn btn-success"
          [disabled]="!newClassroomsForm.valid"
        >
          Add Record
        </button>
      </div>
    </div>
  </div>
</form>
<!-- Student form ends-->
