<mat-sidenav-container>
  <mat-sidenav #sidenav mode="push">
    <div class="">
      <nav id="sidebar" class="bg-light sidedrawer">
        <div class="sidebar-header p-2 mt-4">
          <h3>ER Manager</h3>
        </div>

        <ul class="flex-column list-unstyled components">
          <!-- routerLink="/register-student" to navigate to view-students component -->
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/register-student"
              routerLinkActive="active"
            >
              <i class="fas fa-plus"></i>Add Student
            </a>
          </li>

          <!-- routerLink="/view-students" to navigate to view-students component -->
          <!-- routerLinkActive="active" activates active class for component-->
          <li class="nav-item" (click)="sidenav.toggle()">
            <a
              class="nav-link"
              routerLink="/view-students"
              routerLinkActive="active"
            >
              <i class="fas fa-graduation-cap"></i>Students List
            </a>
          </li>

          <li class="nav-item" (click)="sidenav.toggle()">
            <a
              class="nav-link"
              routerLink="/view-classrooms"
              routerLinkActive="active"
            >
              <i class="fas fa-school"></i>Classrooms
            </a>
          </li>

          <li class="nav-item" (click)="sidenav.toggle()">
            <a
              class="nav-link"
              routerLink="/add-classrecords"
              routerLinkActive="active"
            >
              <i class="fas fa-plus"></i>Add Class Record
            </a>
          </li>

          <li class="nav-item" (click)="sidenav.toggle()">
            <a
              class="nav-link"
              routerLink="/view-records"
              routerLinkActive="active"
            >
              <i class="fas fa-eye custom-fa-eye"></i>View Class Record
            </a>
          </li>

          <li class="nav-item" (click)="sidenav.toggle()">
            <a
              class="nav-link"
              routerLink="/view-offices"
              routerLinkActive="active"
            >
              <i class="fas fa-university"></i>Offices
            </a>
          </li>

          <li class="nav-item" (click)="sidenav.toggle()">
            <a
              class="nav-link"
              routerLink="/add-officerecords"
              routerLinkActive="active"
            >
              <i class="fas fa-university"></i>Add Offices Record
            </a>
          </li>
          <li class="nav-item" (click)="sidenav.toggle()">
            <a
              class="nav-link"
              routerLink="/officerecords"
              routerLinkActive="active"
            >
              <i class="fas fa-university"></i>View Offices Record
            </a>
          </li>

          <li class="nav-item" (click)="sidenav.toggle()">
            <a class="nav-link" (click)="logout()">
              <i class="fas fa-sign-out-alt"></i>Logout
            </a>
          </li>
        </ul>
      </nav>

      <!-- Main content -->
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- Top navigation -->
    <nav class="navbar navbar-dark fixed-top p-0 bg-dark flex-md-nowrap shadow">
      <button
        class="navbar-toggler"
        type="button"
        *ngIf="afAuth.auth.currentUser"
        (click)="sidenav.toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <a class="navbar-brand col-sm-3 col-md-2 mr-0">
        E-Record Manager
      </a>

      <a
        class="px-3"
        href="#"
        routerLink="/search-student"
        style="color: white;"
      >
        <span class="user-image pt-2" *ngIf="afAuth.auth.currentUser"
          ><i class="fas fa-search custom-fa-search"></i
        ></span>
      </a>
      <!-- Sidebar navigation -->
    </nav>

    <main role="main" class="p-3 mt-5" *ngIf="afAuth.auth.currentUser">
      <div class="inner-adjust">
        <!-- Use router template to show the components for which router service is activated -->
        <router-outlet></router-outlet>

        <!-- Footer -->
        <!-- <footer>
          This app is created by
          <a href="https://facebook.com/BrightCaiusAmegbor" title="Bright Amegbor">
            Bright Amegbor
          </a>
          as final year projectII work
        </footer> -->
      </div>
    </main>

    <div *ngIf="!afAuth.auth.currentUser">
      <app-login></app-login>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
