<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h1 class="h2">Offices Records</h1>
  <!-- It won't show if there is no student data -->
  <!-- <a routerLink="/add-officerecords" class="btn btn-success">
    <i class="fas fa-search custom-fa-search"></i>
    Add Record
  </a> -->
</div>

<div class="pricing-header mx-auto">
  <!-- Preloader shows before the data loads-->
  <div class="no-data text-center" *ngIf="preLoader">
    <img src="assets/preloader.gif" class="preloader-icon" alt="No student" />
  </div>

  <!-- No data shows when their is no student data available -->
  <div class="no-data text-center" *ngIf="noData">
    <img src="assets/no-student.svg" class="nodata-msg" alt="No student" />
    <p class="nodata-msg">No Office added yet!</p>
    <!-- <a routerLink="/register-student" class="btn btn-success">
      <i class="fas fa-plus custom-fa-plus"></i>
      Add Student
    </a> -->
  </div>

  <!-- Showing students data -->
  <div class="table-responsive" *ngIf="hideWhenNoOffice">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
      <!-- <thead>
        <tr> -->
      <!-- <ng-container matColumnDef="$key">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let student" scope="row">{{ student.$key }}</td>
      </ng-container> -->

      <ng-container matColumnDef="Staff ID">
        <mat-header-cell *matHeaderCellDef>Staff ID</mat-header-cell>
        <mat-cell *matCellDef="let office">{{ office.staffID }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="Staff">
        <mat-header-cell *matHeaderCellDef>Staff</mat-header-cell>
        <mat-cell *matCellDef="let office">
          {{ office.staffName }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Office #">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Office #
        </mat-header-cell>
        <mat-cell *matCellDef="let office">{{ office.officeName }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="Status">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Status
        </mat-header-cell>
        <mat-cell *matCellDef="let office"
          ><span class="text-danger" *ngIf="office.endDate == ''">
            pending
          </span>
          <span class="text-success" *ngIf="office.endDate != ''">
            submitted
          </span></mat-cell
        >
      </ng-container>

      <ng-container matColumnDef="Action">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Action
        </mat-header-cell>
        <mat-cell *matCellDef="let office">
          <span class="text-success" *ngIf="office.endDate == ''">
            <i
              class="fas fa-edit"
              routerLink="/edit-classrecords/{{ office.$key }}"
            ></i> </span
        ></mat-cell>
      </ng-container>

      <!-- <th class="text-center" >Edit</th> -->
      <!-- </tr>
      </thead> -->
      <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        matRipple
      ></tr> -->
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row
        *matRowDef="let row; columns: displayedColumns"
        matRipple
      ></mat-row>
      <!-- *ngFor loop iterates over Student array and fetch the student's data -->
      <!-- paginate pipe will add pagination in student's list, it won't show if items are less then 7 -->
      <!-- <tr
          *ngFor="
            let student of Student
              | paginate: { itemsPerPage: 7, currentPage: p };
            let i = index
          "
        > -->

      <!-- <td  mat-cell *matCellDef="let student" class="text-center action-block">
            <i class="far fa-edit edit-icon-btn" routerLink="/edit-student/{{student.$key}}"></i>
            <i class="far fa-trash-alt" (click)="deleteStudent(student)"></i>
          </td> -->
      <!-- </tr> -->
      <!-- </tbody> -->
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 20, 30, 50]"
      showFirstLastButtons
    ></mat-paginator>
  </div>
  <!-- Pagination -->
  <pagination-controls
    (pageChange)="p = $event"
    autoHide="true"
    responsive="true"
  ></pagination-controls>
</div>
