<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h1 class="h2">Offices</h1>
  <!-- It won't show if there is no student data -->
  <!-- <a routerLink="/add-officerecords" class="btn btn-success">
    <i class="fas fa-search custom-fa-search"></i>
    Add Record
  </a> -->
</div>

<div class="pricing-header mx-auto">
  <!-- Preloader shows before the data loads-->
  <div class="no-data text-center" *ngIf="preLoader">
    <img src="assets/preloader.gif" class="preloader-icon" alt="No student" />
  </div>

  <!-- No data shows when their is no student data available -->
  <div class="no-data text-center" *ngIf="noData">
    <img src="assets/no-student.svg" class="nodata-msg" alt="No student" />
    <p class="nodata-msg">No Office added yet!</p>
    <!-- <a routerLink="/register-student" class="btn btn-success">
      <i class="fas fa-plus custom-fa-plus"></i>
      Add Student
    </a> -->
  </div>

  <!-- Showing students data -->
  <div class="table-responsive" *ngIf="hideWhenNoOffice">
    <mat-selection-list [multiple]="false">
      <mat-list-option *ngFor="let office of Office">{{
        office.officeName
      }}</mat-list-option>
    </mat-selection-list>
  </div>
  <!-- Pagination -->
  <pagination-controls
    (pageChange)="p = $event"
    autoHide="true"
    responsive="true"
  ></pagination-controls>
</div>
